# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [17]:
int_var = 10

In [ ]:
float_var = 3.14

In [ ]:
str_var = ("Hello, World")

In [ ]:
bool_var = True

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [18]:
print("Integer variable: ", int_var)

Integer variable:  10

In [16]:
print("Float variable: ", float_var)

Float variable:  3.14

In [23]:
print("String variable: ", str_var)

String variable:  Hello, World

In [25]:
print("Boolean variable: ", bool_var)

Boolean variable:  True

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [26]:
type(int_var)

int

In [27]:
type(float_var)

float

In [28]:
type(str_var)

str

In [29]:
type(bool_var)

bool

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [38]:
A = 86
B = 34

Sum = A + B
print("The sum of x and y is: ", sum)

The sum of x and y is:  120

In [41]:
A = 86
B = 34

difference = A - B
print("The difference of x and y is: ", difference)

The difference of x and y is:  52

In [42]:
A = 86
B = 34

Multiplication = A * B
print("The product of x and y is: ", Multiplication)

The product of x and y is:  2924

In [43]:
A = 86
B = 34

Divide = A / B
print("The quotient of x and y is: ", Divide)

The quotient of x and y is:  2.5294117647058822

## Example: Lists

In [207]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [281]:
names = ["Alice", "Bob", "Carol", "Dave", "Eve"]

__Exercise 3 b)__ Print your list of names using different ranges

In [221]:
names[2:4]

['Carol', 'Dave']

In [222]:
names[ :2]

['Alice', 'Bob']

In [223]:
names[:-2]

['Alice', 'Bob', 'Carol']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [224]:
len('names')

5

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [ ]:
names.append("Frank")

__Exercise 4 c)__ Print the list. Does it look as expected?

In [232]:
print(names)

['Alice', 'Bob', 'Carol', 'Dave', 'Eve', 'Frank']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [84]:
names.insert(2, "Olive")

__Exercise 4 e)__ Print the list. Does it look as expected?

In [236]:
print(names)

['Alice', 'Bob', 'Olive', 'Carol', 'Dave', 'Eve']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [ ]:
names.remove("Bob")

__Exercise 4 g)__ Print the list. Does it look as expected?

In [241]:
print(names)

['Alice', 'Carol', 'Dave', 'Eve']

# Example: For loops

In [203]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [205]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [242]:
for name in names:
  print(name)

Alice
Carol
Dave
Eve

__Exercise 5 b)__ Add a small change to each name in your list

In [284]:
for name in names:
    name = name + 's'
    print(name)

Alices
Bobs
Carols
Daves
Eves

# Example: Dictionaries

In [201]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [163]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [135]:
capital_of_denmark = countries["denmark"]
print("The capital of Denmark is", capital_of_denmark)

The capital of Denmark is copenhagen

In [136]:
capital_of_norway = countries["norway"]
print("The capital of norway is", capital_of_norway)

The capital of norway is oslo

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [150]:
countries["India"] = "Delhi"
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [151]:
print(countries)

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo', 'India': 'Delhi'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [159]:
countries["sweden"] = "Malmo"

{'sweden': 'Malmo', 'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [165]:
print(countries)

{'sweden': 'Malmo', 'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [ ]:
del countries["sweden"]

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [173]:
print(countries)

{'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [14]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [263]:
def add_two_numbers(a, b):
    
    return a + b
result = add_two_numbers(5,6)
print("Addition is:", result)

Addition is: 11

Let's try to use it!

In [264]:
result = add_two_numbers(1,2)
print("Addition is:",result)

Addition is: 3

In [268]:
Solution = add_two_numbers(5,20)
print("new addition is:", Solution)

new addition is: 25

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [178]:
def calculate_difference(num1, num2):
    difference = num1 - num2
    return difference

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [271]:
result = calculate_difference(5, 8)
print("The difference between", "is", result)

The difference between is -3

__Exercise 7 c)__ Create a function that can multiply two numbers

In [195]:
def multiply_numbers(num1, num2):
    product = num1 * num2
    return product

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [272]:
result = multiply_numbers(67, 2)
print("The product of", "is", result)

The product of is 134

__Exercise 7 e)__ Create a function that can divide two numbers

In [199]:
def divide_numbers(num1, num2):
    quotient = num1 / num2
    return quotient

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [274]:
result = divide_numbers(45, 3)
print("The quotient", result)

The quotient 15.0